@import "menu_style.css";
@import "canvas.css";

/*загальні параметри стилю для кожного блоку*/
.block {
    margin-bottom: 0px;
    padding: 0px;
    color: #000000;
    background: rgba(255, 255, 255, 1);
    border: 1px dashed #cccccc;
}

/*перелік блоків та уточнення їх стилів за допомогою flex: мета - розтягнення блоків по ширині та висоті у своїх
 контейнепах.*/
/* стиль головного вікна (контейнер) веб-інтерфейсу*/
.page{
    display: flex;
    flex-direction: column;
    width: 1200px;
    margin: 2px auto;
}

/* стиль головного меню (контейнер) ; стиль самого меню у файлі main_menu_style.css*/
.container_main_menu{
    position: relative;
    z-index: 2;
}

/* стиль документної частини веб-інтерфейсу (контейнер) */
.section_base{
    display: flex;
    justify-content: flex-start;
}

/* стиль лівої панелі: побудови електричної схеми (контейнер)*/
.graph{
    display: flex;
    flex-direction: column;
    flex-grow: 2;
    height: 420px;  /*розмір панелі вказати обов'язково, інакше не виводиться зображення з go.js*/
}

/* стиль меню для модифікації електричної схеми */
.graph_menu{
    position: relative;
    z-index: 1;
}

/* стиль панелі, яка містить зображення моделі. Блок має стати flex, щоб canvas заповнив по ширины повністю,
а тоді canvas розтягнути по висоті окремим класом
            */
.graph_image{
    height: 420px;  /*висота така сама, як в контейтера graph*/
}

/* стиль правої панелі: інтерактивний графік */
.chart{
    flex-grow: 1;
}

/* стиль footer: панель для розміщення завдання (контейнер)*/
.task_describe{
    display: flex;
}

/* стиль лівої частини (більшої) у footer: текстовий зміст задачі */
.task{
    flex-grow: 4;
}

/* стиль правої частини (меншої) у footer: місце для введення результату та порівняння з правильним*/
.solve{
    flex-grow: 1;
}